.idea/
*.iml
uiTests/
target/
wmlogs/
*.workspace.xml
*.junit.log
*.classpath
*.project
*.logs
logs/
*config.properties.local
.idea/compiler.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
SamplePractice.iml
../DemoRepo/

